html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #ffffff;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

a:focus,
button:focus {
  outline: none;
}

::selection {
  @apply bg-blue-200;
}
::-moz-selection {
  @apply bg-blue-200;
}
